In [3]:
#데이터 읽기
import pandas as pd

file_path = "01_01_01_P.xlsx"
df = pd.read_excel(file_path)
print(len(df))

c:\Users\janghome\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

6955

In [4]:
#column 이름 확인
for i, col in enumerate(df.columns):
    i += 1
    if i % 5 == 0:
        print(i, col)
        
    else:
        print(i, col, end=",")

1 번호,2 개방서비스명,3 개방서비스아이디,4 개방자치단체코드,5 관리번호
6 인허가일자,7 인허가취소일자,8 영업상태구분코드,9 영업상태명,10 상세영업상태코드
11 상세영업상태명,12 폐업일자,13 휴업시작일자,14 휴업종료일자,15 재개업일자
16 소재지전화,17 소재지면적,18 소재지우편번호,19 소재지전체주소,20 도로명전체주소
21 도로명우편번호,22 사업장명,23 최종수정시점,24 데이터갱신구분,25 데이터갱신일자
26 업태구분명,27 좌표정보(X),28 좌표정보(Y),29 의료기관종별명,30 의료인수
31 입원실수,32 병상수,33 총면적,34 진료과목내용,35 진료과목내용명
36 지정취소일자,37 완화의료지정형태,38 완화의료담당부서명,39 구급차특수,40 구급차일반
41 총인원,42 구조사수,43 허가병상수,44 최초지정일자,

In [7]:
# 소재지전체주소에서 값이 없으면 도로명전체주소값으로 대체하여 "주소" 에 저장
import numpy as np

df['주소'] = np.where(pd.notnull(df['도로명전체주소']) == True, df['도로명전체주소'], df['소재지전체주소'])


print("소재지전체주소 빈 데이터 수",df["소재지전체주소"].isnull().sum()) # numll 확인
print("도로명전체주소 빈 데이터 수",df["도로명전체주소"].isnull().sum()) # numll 확인
print("주소 빈 데이터 수",df["주소"].isnull().sum()) # numll 확인

df.to_excel("결과확인.xlsx")

소재지전체주소 빈 데이터 수 1213
도로명전체주소 빈 데이터 수 399
주소 빈 데이터 수 0

In [8]:
# 상세영업상태명  에서 폐업의 수와, 영업중 수 확인
print("폐업: ",(df["상세영업상태명"].str.contains('영업중',na=False) == False).sum())
print("영업중: ",df["상세영업상태명"].str.contains('영업중').sum())

폐업:  2792
영업중:  4163

In [9]:
# 주소에서 시/도 주소만 분리하여 저장
df['시도주소'] = df['주소'].str.split(" ")

# 시 + 도 로 "시도주소"에 저장
df['시도주소'] = df['시도주소'].str.get(0) +" " +df['시도주소'].str.get(1)
print(df['시도주소'])

0          서울특별시 종로구
1          서울특별시 종로구
2          서울특별시 종로구
3          서울특별시 종로구
4          서울특별시 종로구
            ...
6950    제주특별자치도 서귀포시
6951    제주특별자치도 서귀포시
6952    제주특별자치도 서귀포시
6953    제주특별자치도 서귀포시
6954    제주특별자치도 서귀포시
Name: 시도주소, Length: 6955, dtype: object

In [14]:
# 시도 이름으로 묶고, 병원수가 많은 20개의 순서대로 출력하기
new_df = pd.DataFrame()
new_df["병원수"] = df.groupby('시도주소').size()
new_df["순위"] = new_df['병원수'].rank(ascending=False)
new_df["순위"] = new_df["순위"].astype(int)
new_df.sort_values(by='순위')[0:20]

            병원수  순위
시도주소
광주광역시 북구    197   1
전라북도 전주시    182   2
경상남도 창원시    143   3
광주광역시 서구    137   4
광주광역시 광산구   134   5
경기도 안산시     127   6
서울특별시 강남구   112   7
충청남도 천안시    109   8
경기도 고양시     108   9
경상남도 김해시    105  10
경기도 부천시     104  11
충청북도 청주시    100  12
경기도 수원시      94  13
경기도 용인시      90  14
대전광역시 서구     88  15
광주광역시 남구     85  16
부산광역시 사하구    80  17
대구광역시 달서구    78  18
경기도 성남시      76  19
서울특별시 영등포구   76  19